[submodule "External/src/glm"]
	path = External/src/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/src/glfw"]
	path = External/src/glfw
	url = https://github.com/BangjinMa/glfw.git
	branch = master
[submodule "External/src/crossguid"]
	path = External/src/crossguid
	url = https://github.com/netwarm007/crossguid.git
[submodule "External/src/OpenGEX"]
	path = External/src/OpenGEX
	url = https://github.com/BangjinMa/OpenGEX.git
[submodule "External/src/freetype"]
	path = External/src/freetype
	url = https://github.com/BangjinMa/freetype-windows-binaries.git
